# TEFAS Fon Fiyat Bilgi API'si
TEFAS_API_URL=https://www.tefas.gov.tr/api/funds/fonFiyatBilgiGetir

# Yahoo Finance Hisse Senedi / Döviz API'si (Chart Endpoint)
YAHOO_FINANCE_API_URL=https://query1.finance.yahoo.com/v8/finance/chart/
